{namespace vk=SLUB\Vk2\ViewHelpers}
<f:layout name="Default" />

<f:section name="main">

	<div class="container evaluation-page">
		<div>
			<header>

				<vk:isUser>
					<f:then>
						<h1><f:translate id="evaluation.page.adminValidation" /> #<vk:username /></h1>
						<f:link.action action="show" controller="Main" target="_top">
							<f:translate id="evaluation.page.backToMain" />
						</f:link.action>
					</f:then>
				</vk:isUser>
								
			</header>

			<div id="content-container" class="content">
				<section class="header-container">
					<nav class="navbar navbar-default" role="navigation">
						<div class="container-fluid">
							<div class="collapse navbar-collapse">
								<form class="navbar-form navbar-left" role="search" onsubmit="return false;">
									<div class="input-group">
										<input type="text" class="form-control" id="input-mapid" placeholder="Zeige Prozesse für OAI ...">
										<span class="input-group-btn">
											<button class="btn btn-default" id="getsingleprocesss-mapid"
												data-src="input-mapid">
												<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
											</button>
										</span>
									</div>

									<div class="input-group">
										<input type="text" class="form-control" id="input-userid"
											   placeholder="Zeige Prozesse für Nutzer ...">
										<span class="input-group-btn">
											<button class="btn btn-default" id="getsingleprocesss-userid"
													data-src="input-userid">
												<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
											</button>
										</span>
									</div>

									<a href="#" id="getallprocesses" class="btn btn-default">Zeige Prozesse ohne Review ...</a>
								</form>

								<ul class="nav navbar-nav navbar-right">
									<li class="dropdown">
										<a href="#" class="dropdown-toggle"	data-toggle="dropdown" role="button" aria-expanded="false">
											<span class="glyphicon glyphicon-cog" aria-hidden="true"></span><span class="caret"></span>
										</a>
										<ul class="dropdown-menu" role="menu">
											<li>
												<a href="#" id="getallinvalideprocesses">
													<f:translate id="evaluation.page.getAllUnvalideProcesses" />
												</a>
											</li>
										</ul>
									</li>
								</ul>
							</div>
						</div>
					</nav>

				</section>
				<section class="list-container" id="list-container"></section>


				<section class="map-container">
					<div class="georeferenced-map olMap" id="evaluation-map">
						<div id="opacity-slider-container"
							class="opacity-slider-container"></div>
					</div>
				</section>


			</div>
		</div>
	</div>

	<!-- checks if the vk2.app.AdminEvaluationApp module is already loaded -->
	<script>
		if (window['vk2'] === undefined || window['vk2']['app'] === undefined) {
			goog.require('vk2.app.AdminEvaluationApp');
		};
	</script>

	<script>
		var app = new vk2.app.AdminEvaluationApp({
			'process_list':'list-container',
			'btn_getallprocess':'getallprocesses',
			'btn_getallinvalideprocess':'getallinvalideprocesses',
			'map_container':'evaluation-map',
			'btn_getsingleprocess_mapid':'getsingleprocesss-mapid',
			'btn_getsingleprocess_userid':'getsingleprocesss-userid'
		});
    </script> 

</f:section>