{namespace vk=SLUB\Vk2\ViewHelpers}
<f:layout name="default" />

<f:section name="main">

	<vk:head>
		<style>
			body { overflow: initial; }
			.container { margin: 30px auto 60px auto; }
			.content { margin-top: -50px; }
			h2 { border-bottom: 1px dotted #ccc; padding: 30px 0 10px 0; margin: 20px 0; clear: both; }
			h3 { font-size: 22px; color: #666; padding: 20px 0 0 0; margin: 10px 0; clear: both; }
			p { margin: 16px 0; }
			.media-container { position: relative; padding: 5px; border: 1px solid #ccc;}
			.media-container.pos-left { float: left; margin: 0 10px 10px 0; }
			.media-container.pos-right { float: right; margin: 0 0 10px 10px; text-align: right; }
			.media-container img { border: 1px solid #eee; }
			.caption { font-size: 11px; color: #666; margin: 4px 0; }
			#faq-affix-sidebar > .nav { border-top: 1px dotted #ccc; padding-top: 10px;  }
			#faq-affix-sidebar .nav .nav { display: none; }
			#faq-affix-sidebar .nav .active .nav { display: block; }
			#faq-affix-sidebar .nav > li a { color: #666; font-size: 16px; padding: 2px 6px 2px 10px; border-left: 1px solid transparent; }
			#faq-affix-sidebar .nav > li a:hover { background: transparent; text-decoration: underline; }
			#faq-affix-sidebar .nav > li > a { font-weight: bold; }
			#faq-affix-sidebar .nav > li li > a { font-weight: 300; font-size: 14px; padding-left: 20px; }
			#faq-affix-sidebar .nav .active > a { color: #f33; border-left: 1px solid #f33; }
			#faq-affix-sidebar .nav .totop { font-weight: 300; border-top: 1px dotted #ccc; font-size: 12px; color: #999; margin-top: 10px; }
			.bs-callout{ padding: 20px; margin: 20px 0; border: 1px solid #eee; border-left-width: 5px; border-radius: 3px; }
			.bs-callout-warning { border-left-color: #f0ad4e;}
			div.video { text-align: center; }
		</style>
	</vk:head>
	

	<div id="faq" data-spy="scroll" data-target="#faq-affix-sidebar" class="faq">
		<h1 class="sr-only sr-only-focusable"><f:translate id="faq.title" /></h1>

		<div class="container">

			<div class="row">

				<div class="content col-md-9">

					<article id="general-navigation">
						<h2><f:translate id="faq.general.title" /></h2>
						<p><f:translate id="faq.general.content.1" /></p>
						<figure class="media-container pos-left">
							<img
								src="/typo3conf/ext/vk2/Resources/Public/images/faq/login.png"
								alt="anmelden">
							<figcaption class="caption"></figcaption>
						</figure>
						<p><f:translate id="faq.general.content.2" /></p>
					</article>

					<article id="map-detection">
						<h2><f:translate id="faq.map.detection.title" /></p></h2>
						<p><f:translate id="faq.map.detection.content.1" /></p>

						<section id="search-for-a-place">
							<h3><f:translate id="faq.map.placename.title" /></h3>
							<figure class="media-container pos-left">
								<img
									src="/typo3conf/ext/vk2/Resources/Public/images/faq/placename.png"
									alt="ortsname_dt">
								<figcaption class="caption"></figcaption>
							</figure>
							<p><f:translate id="faq.map.placename.content" /></p>
						</section>

						<section id="adjust-the-time">
							<h3><f:translate id="faq.map.timebar.title" /></h3>
							<figure class="media-container pos-left">
								<img
									src="/typo3conf/ext/vk2/Resources/Public/images/faq/timebar.png"
									alt="zeitleiste">
								<figcaption class="caption"></figcaption>
							</figure>
							<p><f:translate id="faq.map.timebar.content" /></p>
						</section>

						<section id="the-search-list">
							<h3><f:translate id="faq.map.searchlist.title" /></h3>
							<figure class="media-container pos-left">
								<img
									src="/typo3conf/ext/vk2/Resources/Public/images/faq/searchlist.png"
									alt="suchliste">
								<figcaption class="caption"></figcaption>
							</figure>
							<p><f:translate id="faq.map.searchlist.content.1" /></p>
							<p><f:translate id="faq.map.searchlist.content.2" /></p>
						</section>

						<section id="map-navigation">
							<h3><f:translate id="faq.map.navigation.title" /></h3>
							<figure class="media-container pos-left">
								<img
									src="/typo3conf/ext/vk2/Resources/Public/images/faq/map_navigation.png"
									alt="buttons_dt">
								<figcaption class="caption"></figcaption>
							</figure>
							<p><f:translate id="faq.map.navigation.content.1" /></p>
							<p><f:translate id="faq.map.navigation.content.2" /></p>
							<p><f:translate id="faq.map.navigation.content.3" /></p>
							<p><f:translate id="faq.map.navigation.content.4" /></p>
							<p><f:translate id="faq.map.navigation.content.5" /></p>
							<p><f:translate id="faq.map.navigation.content.6" /></p>
						</section>

					</article>

					<article id="manage-chosen-maps">
						<h2><f:translate id="faq.map.management.title" /></h2>
						<figure class="media-container pos-left">
							<img
								src="/typo3conf/ext/vk2/Resources/Public/images/faq/map_collection.png"
								alt="kartenauswahl">
							<figcaption class="caption"></figcaption>
						</figure>

						<p><f:translate id="faq.map.management.content" /></p>

						<section id="change-transparency">
							<h3><f:translate id="faq.map.transparency.title" /></h3>
							<figure class="media-container pos-left">
								<img
									src="/typo3conf/ext/vk2/Resources/Public/images/faq/transparency.png"
									alt="transparenz">
								<figcaption class="caption"></figcaption>
							</figure>
							<p><f:translate id="faq.map.transparency.content" /></p>
						</section>

						<section id="activate-deactivate-maps">
							<h3><f:translate id="faq.map.activate.title" /></h3>
							<figure class="media-container pos-left">
								<img
									src="/typo3conf/ext/vk2/Resources/Public/images/faq/active_map.png"
									alt="aktiviert">
								<figcaption class="caption"><f:translate id="faq.map.activate.content.1" /></figcaption>
							</figure>
							<figure class="media-container pos-left">
								<img
									src="/typo3conf/ext/vk2/Resources/Public/images/faq/deactive_map.png"
									alt="deaktiviert">
								<figcaption class="caption"><f:translate id="faq.map.activate.content.2" /></figcaption>
							</figure>
							<p><f:translate id="faq.map.activate.content.3" /></p>
						</section>

						<section id="add-delete-maps">
							<h3><f:translate id="faq.map.adddel.title" /></h3>
							<p><f:translate id="faq.map.adddel.content.1" /></p>
							<p><f:translate id="faq.map.adddel.content.2" /></p>
						</section>

						<section id="reorder-maps">
							<h3><f:translate id="faq.map.reorder.title" /></h3>
							<figure class="media-container pos-left">
								<img
									src="/typo3conf/ext/vk2/Resources/Public/images/faq/move_map.png"
									alt="verschieben">
								<figcaption class="caption"></figcaption>
							</figure>
							<p><f:translate id="faq.map.reorder.content.1" /></p>
							<p><f:translate id="faq.map.reorder.content.2" /></p>
						</section>

						<section id="original-maps-meta-data">
							<h3><f:translate id="faq.map.original.title" /></h3>
							<p><f:translate id="faq.map.original.content.1" /></p>
							<p><f:translate id="faq.map.original.content.2" /></p>
						</section>
					</article>

					<!-- third article (eg. georef) -->
					<article id="geo-referencing-of-maps">
						<h2><f:translate id="faq.georef.title" /></h2>
						<p><f:translate id="faq.georef.text.1" /></p>
						<p><f:translate id="faq.georef.text.2" /></p>

						<div class="video">
							<iframe width="560" height="315" src="https://www.youtube.com/embed/R2tA0fSSo44" frameborder="0" allowfullscreen></iframe>
						</div>
						<div class="bs-callout bs-callout-warning">
							<p><f:translate id="faq.georef.callout" /></p>
						</div>


						<section id="map-selection">
							<h3><f:translate id="faq.georef.selection.title" /></h3>
							<figure class="media-container pos-left">
								<img src="/typo3conf/ext/vk2/Resources/Public/images/faq/login.png" alt="angemeldet">
								<figcaption class="caption"></figcaption>
							</figure>
							<p><f:translate id="faq.georef.selection.text.1" /></p>
						</section>

						<section id="geo-referencing">
							<h3><f:translate id="faq.georef.georeference.title" /></h3>
							<figure class="media-container pos-left">
								<img src="/typo3conf/ext/vk2/Resources/Public/images/faq/georef_gcp.png" alt="gcp">
								<figcaption class="caption"></figcaption>
							</figure>

							<p><f:translate id="faq.georef.georeference.text.1" /></p>
							<p><f:translate id="faq.georef.georeference.text.2" /></p>
							<p><f:translate id="faq.georef.georeference.text.3" /></p>
							<p><f:translate id="faq.georef.georeference.text.4" /></p>

							<figure class="media-container pos-left">
								<img src="/typo3conf/ext/vk2/Resources/Public/images/faq/georef_transform.png" alt="transform">
								<figcaption class="caption"></figcaption>
							</figure>
							<p id="georeferencing-of-maps-algorithm"><f:translate id="faq.georef.georeference.text.5" /></p>
							<figure class="media-container pos-left">
								<img src="/typo3conf/ext/vk2/Resources/Public/images/faq/georef_clip.png" alt="clip">
								<figcaption class="caption"></figcaption>
							</figure>
							<p><f:translate id="faq.georef.georeference.text.6" /></p>
							<p><f:translate id="faq.georef.georeference.text.7" /></p>
							<p><f:translate id="faq.georef.georeference.text.8" /></p>
						</section>

					</article>
				</div>
				
				<div class="sidebar col-md-3">

					<nav id="faq-affix-sidebar">
						<ul class="nav sidenav" data-spy="affix" data-offset-top="0"
							data-offset-bottom="0">
							<li class="active">
								<a href="#general-navigation"><f:translate id="faq.sidebar.map.general" /></a>
							</li>
							<li>
								<a href="#map-detection"><f:translate id="faq.sidebar.map.detection" /></a>
								<ul class="nav">
									<li><a href="#search-for-a-place"><f:translate id="faq.sidebar.map.placename" /></a></li>
									<li><a href="#adjust-the-time"><f:translate id="faq.sidebar.map.timebar" /></a></li>
									<li><a href="#the-search-list"><f:translate id="faq.sidebar.map.searchlist" /></a></li>
									<li><a href="#map-navigation"><f:translate id="faq.sidebar.map.navigation" /></a></li>
								</ul></li>
							<li>
								<a href="#manage-chosen-maps"><f:translate id="faq.sidebar.map.management" /></a>
								<ul class="nav">
									<li><a href="#change-transparency"><f:translate id="faq.sidebar.map.transparency" /></a></li>
									<li><a href="#activate-deactivate-maps"><f:translate id="faq.sidebar.map.activate" /></a></li>
									<li><a href="#add-delete-maps"><f:translate id="faq.sidebar.map.adddel" /></a></li>
									<li><a href="#reorder-maps"><f:translate id="faq.sidebar.map.reorder" /></a></li>
									<li><a href="#original-maps-meta-data"><f:translate id="faq.sidebar.map.original" /></a></li>
								</ul>
							</li>
							<li>
								<a href="#geo-referencing-of-maps"><f:translate id="faq.sidebar.georef" /></a>
								<ul class="nav">
									<li><a href="#map-selection"><f:translate id="faq.sidebar.georef.selection" /></a></li>
									<li><a href="#geo-referencing"><f:translate id="faq.sidebar.georef.georeferencing" /></a></li>
								</ul>
							</li>
						</ul>
					</nav>

				</div>

			</div>

		</div>
	</div>

	<script>
		var body = document.getElementsByTagName('body')[0];
		body.className = 'faq';
		body.setAttribute('data-spy', 'scroll');
		body.setAttribute('data-target', '#faq-affix-sidebar');
	</script>


</f:section>