<f:layout name="Default" />

<f:section name="main">

	<vk:head>
		<style>
			.service .text { width: 800px; }
			.service .service-description .media-object { border: none; height: 150px; width: auto; margin: 10px; }
			.service .service-description .media-heading { margin: 10px 0; }
			.service .service-description .media-body p { padding: 0 0 5px 0; }
			.service .service-description { margin: 5px 0 5px 0; border: 1px solid #ccc; }
		</style>
	</vk:head>

	<div class="service page-container">
		<h2 class="slubcolor">
			<f:translate id="service.title" />
		</h2>
		<section class="text">
			<p>
				<f:translate id="service.description" />
			</p>
			<section class="service-description mtb">
				<div class="media">
					<div class="media-left">
						<a href="#">
							<img class="media-object" src="//fotothek.slub-dresden.de/thumbs/df/dk/0010000/df_dk_0010001_4948_1925.jpg" alt="...">
						</a>
					</div>
					<div class="media-body">
						<h4 class="media-heading slubcolor">
							<f:translate id="service.mtb.title" />
						</h4>
						<p>
							<f:translate id="service.mtb.description" />
						</p>
						<p>
							<f:translate id="service.licence" />: <f:translate id="service.all.licence" />
						</p>
						<p>
							URL - WMS: <a href="http://kartenforum.slub-dresden.de/cgi-bin/mtbows?SERVICE=WMS&REQUEST=GetCapabilities&VERSION=1.0.0" target="_blank">
							http://kartenforum.slub-dresden.de/cgi-bin/mtbows</a> <br>
							URL - WCS: <a href="http://kartenforum.slub-dresden.de/cgi-bin/mtbows?SERVICE=WCS&REQUEST=GetCapabilities&VERSION=1.0.0" target="_blank">
							http://kartenforum.slub-dresden.de/cgi-bin/mtbows</a> <br>
						</p>
					</div>
				</div>
			</section>
			<section class="service-description gl">
				<div class="media">
					<div class="media-left">
						<a href="#">
							<img class="media-object" src="//fotothek.slub-dresden.de/thumbs/df/dk/0004000/df_dk_0004657.jpg" alt="...">
						</a>
					</div>
					<div class="media-body">
						<h4 class="media-heading slubcolor">
							<f:translate id="service.gl.title" />
						</h4>
						<p>
							<f:translate id="service.gl.description" />
						</p>
						<p>
							<f:translate id="service.licence" />: <f:translate id="service.all.licence" />
						</p>
						<p>
							URL - WMS: <a href="http://kartenforum.slub-dresden.de/cgi-bin/glows?SERVICE=WMS&REQUEST=GetCapabilities&VERSION=1.0.0" target="_blank">
							http://kartenforum.slub-dresden.de/cgi-bin/glows</a> <br>
							URL - WCS: <a href="http://kartenforum.slub-dresden.de/cgi-bin/glows?SERVICE=WCS&REQUEST=GetCapabilities&VERSION=1.0.0" target="_blank">
							http://kartenforum.slub-dresden.de/cgi-bin/glows</a> <br>
						</p>
					</div>
				</div>
			</section>
			<section class="service-description tk">
				<div class="media">
					<div class="media-left">
						<a href="#">
							<img class="media-object" src="//fotothek.slub-dresden.de/thumbs/df/dk/0000000/df_dk_0000532_0417.jpg" alt="...">
						</a>
					</div>
					<div class="media-body">
						<h4 class="media-heading slubcolor">
							<f:translate id="service.tk.title" />
						</h4>
						<p>
							<f:translate id="service.tk.description" />
						</p>
						<p>
							<f:translate id="service.licence" />: <f:translate id="service.all.licence" />
						</p>
						<p>
							URL - WMS: <a href="http://kartenforum.slub-dresden.de/cgi-bin/tkows?SERVICE=WMS&REQUEST=GetCapabilities&VERSION=1.0.0" target="_blank">
							http://kartenforum.slub-dresden.de/cgi-bin/tkows</a> <br>
							URL - WCS: <a href="http://kartenforum.slub-dresden.de/cgi-bin/tkows?SERVICE=WCS&REQUEST=GetCapabilities&VERSION=1.0.0" target="_blank">
							http://kartenforum.slub-dresden.de/cgi-bin/tkows</a> <br>
						</p>
					</div>
				</div>
			</section>
			<section class="service-description ae">
				<div class="media">
					<div class="media-left">
						<a href="#">
							<img class="media-object" src="//fotothek.slub-dresden.de/thumbs/df/dk/0000000/df_dk_0000309.jpg" alt="...">
						</a>
					</div>
					<div class="media-body">
						<h4 class="media-heading slubcolor">
							<f:translate id="service.ae.title" />
						</h4>
						<p>
							<f:translate id="service.ae.description" />
						</p>
						<p>
							<f:translate id="service.licence" />: <f:translate id="service.all.licence" />
						</p>
						<p>
							URL - WMS: <a href="http://kartenforum.slub-dresden.de/cgi-bin/aeows?SERVICE=WMS&REQUEST=GetCapabilities&VERSION=1.0.0" target="_blank">
							http://kartenforum.slub-dresden.de/cgi-bin/aeows</a> <br>
							URL - WCS: <a href="http://kartenforum.slub-dresden.de/cgi-bin/aeows?SERVICE=WCS&REQUEST=GetCapabilities&VERSION=1.0.0" target="_blank">
							http://kartenforum.slub-dresden.de/cgi-bin/aeows</a> <br>
						</p>
					</div>
				</div>
			</section>
		</section>
	</div>
</f:section>