{namespace vk=SLUB\Vk2\ViewHelpers}
<f:layout name="Default" />

<f:section name="main">

	<vk:isGeorefOn>
		<f:else>
			<vk:head>
				<style>
					.vk2WelcomePageFooter { bottom: 0 !important; position: absolute !important; width: 100% !important; }
				</style>
			</vk:head>
		</f:else>
	</vk:isGeorefOn>

	<div class="welcome-page">
		<div class="vk2WelcomePage">
			<div class="vk2WelcomePageBody">
				<div class="leftContainer">
					<div class="inner">
						<img class="logo" src="/typo3conf/ext/vk2/Resources/Public/images//welcome_logo.png" />
					</div>
				</div>
				
				<div class="rightContainer">
					<div class="inner">
						<span class="slubcolor heading"><b><f:translate id="welcome.page.header" /></b></span><br>
						<p><f:translate id="welcome.page.msg" /></p>
					</div>
				</div>
				
				<div class="footerContainer">

					<vk:isGeorefOn>
						<f:then>
							<div class="vk2GeoreferenceProgressText">
								<div class="contentContainer georeference-map-rel" style="margin-left: 72%;">
									<div class="content georeference-map-rel" style="margin-left: -35%;">
										<f:translate id="welcome.page.progress.1" />
										<b><span class="georeference-map-count"></span></b>
										<f:translate id="welcome.page.progress.2" />
										<b><span class="overall-georeference-map-count"></span></b>
										<f:translate id="welcome.page.progress.3" />
									</div>
								</div>
							</div>

							<div class="vk2GeoreferenceProgressBar">
								<div class="done georeference-map-rel" style="width: 100%;"></div>
								<div class="todo georeference-map-rel" style="margin-left: 100%;"></div>
							</div>
						</f:then>
					</vk:isGeorefOn>

				</div>
			</div>
			
			<div class="vk2WelcomePageFooter">

				<vk:isGeorefOn>
					<f:then>
						<div class="RankingContainer">
							<div class="vk2GeoreferenceRanking">
								<p><f:translate id="welcome.page.ranking.header" /></p>

								<ol id="georeference-user-ranking">

									<span class="furtherItems">[...]</span>
								</ol>
							</div>
							<div class="closeContainer">
								<span id="vk2WelcomePageStart" class="vk2WelcomePageStart"><f:translate id="welcome.page.help.1" /></span>
								<f:link.action action="faq"	controller="Static" class="vk2FooterLinks"
											   additionalAttributes="{data-classes:'faq'}" absolute="True"	title="{f:translate(id:'faq.title')}">
									<f:translate id="welcome.page.help.2" />
								</f:link.action>
							</div>
						</div>
					</f:then>
				</vk:isGeorefOn>

				<div class="SkipPageContainer">
					<div class="inner">
						<input type="checkbox" id="deactivateWelcomePage" name="deactivateWelcomePage"> 
		    			<label for="deactivateWelcomePage"><f:translate id="welcome.page.help.3" /></label>
		    		</div>
				</div>
			</div>
		</div>  
	</div>

	<!-- checks if the vk2.app.WelcomePageApp module is already loaded -->
	<script>
		if (window['vk2'] === undefined || window['vk2']['app'] === undefined) {
			goog.require('vk2.app.WelcomePageApp');
		};
	</script>

	<vk:isGeorefOn>
		<f:then>
			<script>
				var app = new vk2.app.WelcomePageApp({
					georefenceElClass: 'georeference-map-count',
					overallGeorefenceElClass: 'overall-georeference-map-count',
					relGeoreferenceElClass: 'georeference-map-rel',
					georeferenceUserRankingElId: 'georeference-user-ranking',
					deactivateWelcomePageId: 'deactivateWelcomePage'
				});
			</script>
		</f:then>
		<f:else>
			<script>
				var app = new vk2.app.WelcomePageApp({
					deactivateWelcomePageId: 'deactivateWelcomePage'
				});
			</script>
		</f:else>
	</vk:isGeorefOn>

</f:section>