{namespace vk=SLUB\Vk2\ViewHelpers}
<f:render partial="Main/Language" />

<f:render section="main" />

<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(["setDomains", ["*.kartenforum.slub-dresden.de"]]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//piwik.slub-dresden.de/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 164]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//piwik.slub-dresden.de/piwik.php?idsite=164" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->

