<div class="vk2FooterPanel">
	<div id="vk2Footer" class="vk2Footer">
		<div class="footerContainer">
			<div class="leftside">
				<ul class="footerList">
					<li class="listelement thick leftborder">
						<f:translate id="main.footer.projectname" />
					</li>
					<li class="listelement">
						<f:translate id="main.footer.projectdescription" />
					</li>
				</ul>
			</div>
			<div class="rightside">
				<ul class="footerList">
					<li class="listelement leftborder">
						<f:link.action action="rankingPage" controller="Static" class="vk2-modal-anchor"
									   additionalAttributes="{data-classes:'ranking'}" absolute="True"
									   title="{f:translate(id:'ranking.title')}">Ranking</f:link.action>
					</li>
					<li class="listelement leftborder">
						<f:link.action action="service" controller="Static" class="vk2-modal-anchor"
									   additionalAttributes="{data-classes:'service'}" absolute="True"
									   title="{f:translate(id:'service.title')}">Services</f:link.action>
					</li>
					<li class="listelement leftborder">
						<f:link.action action="faq" controller="Static" class="vk2-modal-anchor"
							additionalAttributes="{data-classes:'faq'}" absolute="True"
							title="{f:translate(id:'faq.title')}">FAQ</f:link.action>
					</li>
					<li class="listelement leftborder">
						<f:link.action action="contact" controller="Static" class="vk2-modal-anchor"
							absolute="True" additionalAttributes="{data-classes:'contact'}"
							title="{f:translate(id:'main.contact.title')}"><f:translate id="main.contact" />
						</f:link.action>
					</li>
					<li class="listelement">
						<f:link.action action="impressum" controller="Static" class="vk2-modal-anchor" absolute="True"
							additionalAttributes="{data-classes:'impressum'}"
							title="{f:translate(id:'main.impressum.title')}"><f:translate id="main.impressum" />
						</f:link.action>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>