<script>
	// update language dict
	// Right now not the hole language dictionary is supported to typo3 locals. Instead there is a mix approach. In the future it should be all replaced by typo3
	<![CDATA[
	var lang_dictionary = {
		"back-to-main": "]]>{f:translate(id:'client.backToMain')}<![CDATA[",
		"go-to-georef": "]]>{f:translate(id:'client.goToGeoref')}<![CDATA[",
		"go-to-org": "]]>{f:translate(id:'client.goToOrg')}<![CDATA[",
		"no": "]]>{f:translate(id:'client.no')}<![CDATA[",
		"points": "]]>{f:translate(id:'client.points')}<![CDATA[",
		"timestamp": "]]>{f:translate(id:'client.timestamp')}<![CDATA[",
		"yes": "]]>{f:translate(id:'client.yes')}<![CDATA[",
		"deactivatemap-all": "]]>{f:translate(id:'client.deactivemap.deactiveAll')}<![CDATA[",
		"activatemap-all": "]]>{f:translate(id:'client.deactivemap.activeAll')}<![CDATA[",
		"dynamicmapvis-open": "]]>{f:translate(id:'client.dynamicmapvis.open')}<![CDATA[",
		"dynamicmapvis-close": "]]>{f:translate(id:'client.dynamicmapvis.close')}<![CDATA[",
		"dynamicmapvis-start": "]]>{f:translate(id:'client.dynamicmapvis.start')}<![CDATA[",
		"dynamicmapvis-stop": "]]>{f:translate(id:'client.dynamicmapvis.stop')}<![CDATA[",
		"evaluation-isvalide": "]]>{f:translate(id:'client.evaluation.btnIsValid')}<![CDATA[",
		"evaluation-showmap": "]]>{f:translate(id:'client.evaluation.btnShowMap')}<![CDATA[",
		"evaluation-gotoprocess": "]]>{f:translate(id:'client.evaluation.btnGoToProcess')}<![CDATA[",
		"evaluation-isinvalide": "]]>{f:translate(id:'client.evaluation.btnSetIsInvalid')}<![CDATA[",
		"imagemanipulation-open": "]]>{f:translate(id:'client.imagemanipulation.open')}<![CDATA[",
		"imagemanipulation-hue": "]]>{f:translate(id:'client.imagemanipulation.hue')}<![CDATA[",
		"imagemanipulation-saturation": "]]>{f:translate(id:'client.imagemanipulation.saturation')}<![CDATA[",
		"imagemanipulation-contrast": "]]>{f:translate(id:'client.imagemanipulation.contrast')}<![CDATA[",
		"imagemanipulation-brightness": "]]>{f:translate(id:'client.imagemanipulation.brightness')}<![CDATA[",
		"imagemanipulation-reset": "]]>{f:translate(id:'client.imagemanipulation.reset')}<![CDATA[",
		"layerspy-title": "]]>{f:translate(id:'client.layerspy.title')}<![CDATA[",
		"mouseposition-title": "]]>{f:translate(id:'client.mouseposition.title')}<![CDATA[",
		"permalink-title": "]]>{f:translate(id:'client.permalink.title')}<![CDATA[",
		"permalink-msg": "]]>{f:translate(id:'client.permalink.msg')}<![CDATA[",
		"rotatenorth-title": "]]>{f:translate(id:'client.roatenorth.title')}<![CDATA[",
		"factory-scale": "]]>{f:translate(id:'client.factory.scale')}<![CDATA[",
		"factory-no-georef": "]]>{f:translate(id:'client.factory.notGeoref')}<![CDATA[",
		"factory-show-map": "]]>{f:translate(id:'client.factory.showMap')}<![CDATA[",
		"factory-rm-map": "]]>{f:translate(id:'client.factory.removeMap')}<![CDATA[",
		"factory-move-top": "]]>{f:translate(id:'client.factory.moveToTop')}<![CDATA[",
		"factory-update-georef": "]]>{f:translate(id:'client.factory.updateGeoref')}<![CDATA[",
		"facetedsearch-open": "]]>{f:translate(id:'client.mapsearchmodule.facetsearch.open')}<![CDATA[",
		"facetedsearch-close": "]]>{f:translate(id:'client.mapsearchmodule.facetsearch.close')}<![CDATA[",
		"flipviewmode-title": "]]>{f:translate(id:'client.flipviewmode.title')}<![CDATA[",
		"georef-search-field": "]]>{f:translate(id:'client.georeferencechoose.searchField')}<![CDATA[",
		"georef-choose-time": "]]>{f:translate(id:'client.georeferencechoose.time')}<![CDATA[",
		"georef-choose-maptype": "]]>{f:translate(id:'client.georeferencechoose.maptype')}<![CDATA[",
		"georef-choose-goToGeoreference": "]]>{f:translate(id:'client.georeferencechoose.goToGeoreference')}<![CDATA[",
		"georef-movemap": "]]>{f:translate(id:'client.georeference.moveMap')}<![CDATA[",
		"georef-setgcp": "]]>{f:translate(id:'client.georeference.setGcp')}<![CDATA[",
		"georef-movegcp": "]]>{f:translate(id:'client.georeference.moveGcp')}<![CDATA[",
		"georef-delgcp": "]]>{f:translate(id:'client.georeference.deleteGcp')}<![CDATA[",
		"georef-drawclip": "]]>{f:translate(id:'client.georeference.drawClip')}<![CDATA[",
		"georef-validate": "]]>{f:translate(id:'client.georeference.validate')}<![CDATA[",
		"georef-confirm": "]]>{f:translate(id:'client.georeference.confirm')}<![CDATA[",
		"georef-confirm-clip-title": "]]>{f:translate(id:'client.georeference.confirmWithoutClipTitle')}<![CDATA[",
		"georef-confirm-clip-msg": "]]>{f:translate(id:'client.georeference.confirmWithoutClipMsg')}<![CDATA[",
		"mapsearch-found-maps": "]]>{f:translate(id:'client.mapsearchmodule.foundMaps')}<![CDATA[",
		"mapsearch-found-no-maps": "]]>{f:translate(id:'client.mapsearchmodule.foundNoMaps')}<![CDATA[",
		"mapsearch-georeference": "]]>{f:translate(id:'client.mapsearchmodule.georeference')}<![CDATA[",
		"mapsearch-time": "]]>{f:translate(id:'client.mapsearchmodule.time')}<![CDATA[",
		"mapsearch-title": "]]>{f:translate(id:'client.mapsearchmodule.title')}<![CDATA[",
		"facet-ae": "]]>{f:translate(id:'client.facetedsearch.titleAE')}<![CDATA[",
		"facet-ak": "]]>{f:translate(id:'client.facetedsearch.titleAK')}<![CDATA[",
		"facet-gl": "]]>{f:translate(id:'client.facetedsearch.titleGL')}<![CDATA[",
		"facet-mtb": "]]>{f:translate(id:'client.facetedsearch.titleMTB')}<![CDATA[",
		"facet-tk": "]]>{f:translate(id:'client.facetedsearch.titleTK')}<![CDATA[",
		"layermanagement-start-msg": "]]>{f:translate(id:'client.layermanagementmodule.startMessage')}<![CDATA[",
		"layermanagement-header-lbl": "]]>{f:translate(id:'client.layermanagementmodule.headerLbl')}<![CDATA[",
		"gazetteer-placeholder": "]]>{f:translate(id:'client.gazetteer.placeholder')}<![CDATA[",
		"gazetteer-submit": "]]>{f:translate(id:'client.gazetteer.submit')}<![CDATA[",
		"metadata-keyword": "]]>{f:translate(id:'client.metadatabinding.keyword')}<![CDATA[",
		"metadata-online-res": "]]>{f:translate(id:'client.metadatabinding.onlineResource')}<![CDATA[",
		"metadata-spatial-res": "]]>{f:translate(id:'client.metadatabinding.spatialResolution')}<![CDATA[",
		"metadata-unqiue-id": "]]>{f:translate(id:'client.metadatabinding.uniqueId')}<![CDATA[",
		"timeslider-adjust-timeperiod": "]]>{f:translate(id:'client.timeslidertool.changeTimeperiod')}<![CDATA[",
		"georef-history-processId": "]]>{f:translate(id:'georeferencehistory.page.processId')}<![CDATA[",
		"georef-history-isValidated": "]]>{f:translate(id:'georeferencehistory.page.isValidated')}<![CDATA[",
		"georef-history-mapId": "]]>{f:translate(id:'georeferencehistory.page.mapId')}<![CDATA[",
		"georef-history-mapSheetInfo": "]]>{f:translate(id:'georeferencehistory.page.mapSheetInfo')}<![CDATA[",
		"georef-history-georefParams": "]]>{f:translate(id:'georeferencehistory.page.georefParams')}<![CDATA[",
		"georef-history-persistentAccess": "]]>{f:translate(id:'georeferencehistory.page.persistentAccess')}<![CDATA[",
		"georef-history-beingGenerated": "]]>{f:translate(id:'georeferencehistory.page.beingGenerated')}<![CDATA[",
		"welcome-points": "]]>{f:translate(id:'welcome.page.ranking.points')}<![CDATA["
	};
	]]>

</script>