<f:layout name="Default" />

<f:section name="main">

	<div class="contact-formular page-container panel panel-default">
		<div class="panel-heading">
			<f:translate id="contact.title" />
		</div>
		<div class="panel-body">
			<p class="contant-message" id="contant-message">
				<f:translate id="contact.msg" />
			</p>
			<br>
			<div id="contact-form-validation-message"
				class="alert validation-error" style="display: none;"></div>
			<f:form action="getContactMessage" additionalAttributes="{role:'form', target: '_top'}"
				id="contact-form" object="{contact}" name="contact">
				<div class="form-group">
					<label for="contactMessage">Email:</label> 
					<f:form.textfield type="text" 
						class="form-control" name="email" placeholder="Email" property="email"
						id="input-email" />
				</div>
				<div class="form-group">
					<label for="contactMessage"><f:translate
							id="contact.input.textarea" />:</label>
					<f:form.textarea class="form-control" rows="5" name="message" property="message"
						placeholder="{f:translate(id:'contact.input.textarea')}"
						id="input-message"/>
					<span class="help-block"><f:translate
							id="contact.input.textarea.help" /></span>
				</div>
				<div class="form-group right">
					<f:form.submit value="Submit" class="btn btn-primary" />
				</div>
			</f:form>
		</div>
	</div>

</f:section>