{namespace vk=SLUB\Vk2\ViewHelpers}
<f:layout name="default" />

<f:section name="main">

	<vk:head>
		<style>
		body { overflow: initial; }
		.container { margin: 30px auto 60px auto; }
		.content { margin-top: -50px; }
		h2 { border-bottom: 1px dotted #ccc; padding: 30px 0 10px 0; margin: 20px 0; clear: both; }
		h3 { font-size: 22px; color: #666; padding: 20px 0 0 0; margin: 10px 0; clear: both; }
		p { margin: 16px 0; }
		.media-container { position: relative; padding: 5px; border: 1px solid #ccc;}
		.media-container.pos-left { float: left; margin: 0 10px 10px 0; }
		.media-container.pos-right { float: right; margin: 0 0 10px 10px; text-align: right; }
		.media-container img { border: 1px solid #eee; }
		.caption { font-size: 11px; color: #666; margin: 4px 0; }
		#faq-affix-sidebar > .nav { border-top: 1px dotted #ccc; padding-top: 10px;  }
		#faq-affix-sidebar .nav .nav { display: none; }
		#faq-affix-sidebar .nav .active .nav { display: block; }    
		#faq-affix-sidebar .nav > li a { color: #666; font-size: 16px; padding: 2px 6px 2px 10px; border-left: 1px solid transparent; }
		#faq-affix-sidebar .nav > li a:hover { background: transparent; text-decoration: underline; }
		#faq-affix-sidebar .nav > li > a { font-weight: bold; }    
		#faq-affix-sidebar .nav > li li > a { font-weight: 300; font-size: 14px; padding-left: 20px; }      
		#faq-affix-sidebar .nav .active > a { color: #f33; border-left: 1px solid #f33; }
		#faq-affix-sidebar .nav .totop { font-weight: 300; border-top: 1px dotted #ccc; font-size: 12px; color: #999; margin-top: 10px; }
		.bs-callout{ padding: 20px; margin: 20px 0; border: 1px solid #eee; border-left-width: 5px; border-radius: 3px; }
		.bs-callout-warning { border-left-color: #f0ad4e;}
		</style>
	</vk:head>
	

	<div id="faq" data-spy="scroll" data-target="#faq-affix-sidebar" class="faq">
		<h1 class="sr-only sr-only-focusable"><f:translate id="faq.title" /></h1>

		<div class="container">

			<div class="row">

				<div class="content col-md-9">

					<article id="general-navigation">
						<h2><f:translate id="faq.general.title" /></h2>
						<p><f:translate id="faq.general.content.1" /></p>
						<figure class="media-container pos-left">
							<img
								src="/typo3conf/ext/vk2/Resources/Public/images/faq/en/anmelden.png"
								alt="anmelden">
							<figcaption class="caption"></figcaption>
						</figure>
						<p><f:translate id="faq.general.content.2" /></p>
					</article>

					<article id="map-detection">
						<h2><f:translate id="faq.map.detection.title" /></p></h2>
						<p><f:translate id="faq.map.detection.content.1" /></p></p>
						<p><f:translate id="faq.map.detection.content.2" /></p></p>

						<section id="search-for-a-place">
							<h3><f:translate id="faq.map.placename.title" /></h3>
							<figure class="media-container pos-left">
								<img
									src="/typo3conf/ext/vk2/Resources/Public/images/faq/en/ortsname.png"
									alt="ortsname_dt">
								<figcaption class="caption"></figcaption>
							</figure>
							<p><f:translate id="faq.map.placename.content" /></p>
						</section>

						<section id="adjust-the-time">
							<h3><f:translate id="faq.map.timebar.title" /></h3>
							<figure class="media-container pos-left">
								<img
									src="/typo3conf/ext/vk2/Resources/Public/images/faq/en/zeitleiste.png"
									alt="zeitleiste">
								<figcaption class="caption"></figcaption>
							</figure>
							<p><f:translate id="faq.map.timebar.content" /></p>
						</section>

						<section id="the-search-list">
							<h3><f:translate id="faq.map.searchlist.title" /></h3>
							<figure class="media-container pos-left">
								<img
									src="/typo3conf/ext/vk2/Resources/Public/images/faq/en/suchliste.png"
									alt="suchliste">
								<figcaption class="caption"></figcaption>
							</figure>
							<p><f:translate id="faq.map.searchlist.content.1" /></p>
							<p><f:translate id="faq.map.searchlist.content.2" /></p>
						</section>

						<section id="map-navigation">
							<h3><f:translate id="faq.map.navigation.title" /></h3>
							<figure class="media-container pos-left">
								<img
									src="/typo3conf/ext/vk2/Resources/Public/images/faq/en/buttons.png"
									alt="buttons_dt">
								<figcaption class="caption"></figcaption>
							</figure>
							<p><f:translate id="faq.map.navigation.content.1" /></p>
							<p><f:translate id="faq.map.navigation.content.2" /></p>
							<p><f:translate id="faq.map.navigation.content.3" /></p>
							<p><f:translate id="faq.map.navigation.content.4" /></p>
							<p><f:translate id="faq.map.navigation.content.5" /></p>
						</section>

					</article>

					<article id="manage-chosen-maps">
						<h2><f:translate id="faq.map.management.title" /></h2>
						<figure class="media-container pos-left">
							<img
								src="/typo3conf/ext/vk2/Resources/Public/images/faq/en/kartenauswahl.png"
								alt="kartenauswahl">
							<figcaption class="caption"></figcaption>
						</figure>

						<p><f:translate id="faq.map.management.content" /></p>

						<section id="change-transparency">
							<h3><f:translate id="faq.map.transparency.title" /></h3>
							<figure class="media-container pos-left">
								<img
									src="/typo3conf/ext/vk2/Resources/Public/images/faq/en/transparenz.png"
									alt="transparenz">
								<figcaption class="caption"></figcaption>
							</figure>
							<p><f:translate id="faq.map.transparency.content" /></p>
						</section>

						<section id="activate-deactivate-maps">
							<h3><f:translate id="faq.map.activate.title" /></h3>
							<figure class="media-container pos-left">
								<img
									src="/typo3conf/ext/vk2/Resources/Public/images/faq/en/aktiviert.png"
									alt="aktiviert">
								<figcaption class="caption"><f:translate id="faq.map.activate.content.1" /></figcaption>
							</figure>
							<figure class="media-container pos-left">
								<img
									src="/typo3conf/ext/vk2/Resources/Public/images/faq/en/deaktiviert.png"
									alt="deaktiviert">
								<figcaption class="caption"><f:translate id="faq.map.activate.content.2" /></figcaption>
							</figure>
							<p><f:translate id="faq.map.activate.content.3" /></p>
						</section>

						<section id="add-delete-maps">
							<h3><f:translate id="faq.map.adddel.title" /></h3>
							<p><f:translate id="faq.map.adddel.content.1" /></p>
							<p><f:translate id="faq.map.adddel.content.2" /></p>
						</section>

						<section id="reorder-maps">
							<h3><f:translate id="faq.map.reorder.title" /></h3>
							<figure class="media-container pos-left">
								<img
									src="/typo3conf/ext/vk2/Resources/Public/images/faq/en/verschieben.png"
									alt="verschieben">
								<figcaption class="caption"></figcaption>
							</figure>
							<p><f:translate id="faq.map.reorder.content.1" /></p>
							<p><f:translate id="faq.map.reorder.content.2" /></p>
						</section>

						<section id="original-maps-meta-data">
							<h3><f:translate id="faq.map.original.title" /></h3>
							<figure class="media-container pos-left">
								<img
									src="/typo3conf/ext/vk2/Resources/Public/images/faq/en/meta.png"
									alt="meta_dt">
								<figcaption class="caption"></figcaption>
							</figure>
							<p><f:translate id="faq.map.original.content.1" /></p>
							<p><f:translate id="faq.map.original.content.2" /></p>
						</section>
					</article>
				</div>
				
				<div class="sidebar col-md-3">

					<nav id="faq-affix-sidebar">
						<ul class="nav sidenav" data-spy="affix" data-offset-top="0"
							data-offset-bottom="0">
							<li class="active"><a href="#general-navigation"><f:translate id="faq.sidebar.map.general" /></a>
							</li>
							<li><a href="#map-detection"><f:translate id="faq.sidebar.map.detection" /></a>
								<ul class="nav">
									<li><a href="#search-for-a-place"><f:translate id="faq.sidebar.map.placename" /></a></li>
									<li><a href="#adjust-the-time"><f:translate id="faq.sidebar.map.timebar" /></a></li>
									<li><a href="#the-search-list"><f:translate id="faq.sidebar.map.searchlist" /></a></li>
									<li><a href="#map-navigation"><f:translate id="faq.sidebar.map.navigation" /></a></li>
								</ul></li>
							<li><a href="#manage-chosen-maps"><f:translate id="faq.sidebar.map.management" /></a>
								<ul class="nav">
									<li><a href="#change-transparency"><f:translate id="faq.sidebar.map.transparency" /></a></li>
									<li><a href="#activate-deactivate-maps"><f:translate id="faq.sidebar.map.activate" /></a></li>
									<li><a href="#add-delete-maps"><f:translate id="faq.sidebar.map.adddel" /></a></li>
									<li><a href="#reorder-maps"><f:translate id="faq.sidebar.map.reorder" /></a></li>
									<li><a href="#original-maps-meta-data"><f:translate id="faq.sidebar.map.original" /></a></li>
								</ul></li>
						</ul>
					</nav>

				</div>

			</div>

		</div>
	</div>

	<script>
		var body = document.getElementsByTagName('body')[0];
		body.className = 'faq';
		body.setAttribute('data-spy', 'scroll');
		body.setAttribute('data-target', '#faq-affix-sidebar');
	</script>


</f:section>