{namespace vk=SLUB\Vk2\ViewHelpers}
<f:layout name="Default" />

<f:section name="main">

	<vk:head>
		<style>
			html {overflow: hidden;}

		</style>
	</vk:head>
	
	<!-- load language javascript file -->
	<vk:language urlPattern="{f:uri.resource(path:'src/locale/%s.js')}"
		languageTag="{f:translate(id:'language.tag')}" />

	<div class="georef-chooser container">
		<div>
			<header>
				<hgroup>

					<vk:isUser>
						<f:then>						
							<h1><f:translate id="georeferencechoose.page.georeferenceChoose" /> #<vk:username /></h1>
							<h2><f:translate id="georeferencechoose.page.outstandingMaps" />:
								<span id="georeferencechoose-count"></span>
							</h2>
						</f:then>
					</vk:isUser>	
								
				</hgroup>
			</header>

			<div id="content-container" class="content-container">                             
	                     
	            <!--  default overview -->        
				<p>
					<f:translate id="georeferencechoose.page.nothingToGeoreference" />.
					<f:link.action action="show" controller="Main" target="_top">
						<f:translate id="evaluation.page.backToMain" />
					</f:link.action> 
				</p>
				
			</div>

	<f:render partial="Main/Language" />

	<script type="text/javascript">
 		var app = new vk2.app.GeoreferenceChooseApp({
			target: "content-container",
			targetCount: "georeferencechoose-count"
		})
    </script> 

</f:section>