{namespace vk=SLUB\Vk2\ViewHelpers}
<f:layout name="Default" />

<f:section name="main">

	<vk:language urlPattern="{f:uri.resource(path:'src/locale/%s.js')}"
		languageTag="{f:translate(id:'language.tag')}" />

	<div class="georeference-validate page-container full-display">
		<!-- Header -->
		<div class="georeference-header-container">
			<h1>
				<span class="vk2georef-brand">VK2-Georeferenzierer</span> Neue
				Georeferenzierung
			</h1>

			<div id="georef-validate-menu" class="georef-validate-menu pull-right">
				<div class="dropdown projection-chooser" style="display:none;">
					<select id="projection-chooser" class="form-control">
						<option>EPSG:4314</option>
						<option>EPSG:4326</option>
						<option>EPSG:3043</option>
					</select>
				</div>
				<div class="dropdown">						
					<select id="transformation-chooser" class="transformation-chooser form-control">
	        			<option>Affine</option>
	        			<option>Polynom</option>
	        			<option>TPS</option>
	      			</select>
				</div>
			</div>
		</div>

		<!-- map content -->
		<div class="row georeference-validate-container">
			<div class="col-sm-6 col-md-6 col-lg-6 outer-map-container">
				<div id="unreferenced-map"
					class="unreferenced-map map-container olMap">
					
<!-- 					<div class="form-group transformation-chooser">
						<select id="transformation-chooser" class="form-control">
	        				<option>Affine</option>
	        				<option>Polynom</option>
	        				<option>TPS</option>
	      				</select>
					</div>
					
					<div class="form-group projection-chooser">
						<select id="projection-chooser" class="form-control">
	        				<option>EPSG:4314</option>
	        				<option>EPSG:4326</option>
	        				<option>EPSG:3043</option>
	      				</select>
					</div>	 -->
						
				</div>
			</div>
			<div class="col-sm-6 col-md-6 col-lg-6 outer-map-container">
				<div id="georeferenced-map"
					class="georeferenced-map map-container olMap">
					<div id="opacity-slider-container" class="opacity-slider-container"></div>
				</div>
			</div>
		</div>

		<!-- Footer panel -->
		<f:render partial="Main/Footer" />
		
		
		
	</div>
	
	<script>	
    	var georeferenceApp = new vk2.app.GeoreferenceApp('unreferenced-map','georeferenced-map');
    </script> 

</f:section>