<f:layout name="Default" />

<f:section name="main">
	<div class="impressum page-container vk2ImpressumPageContainer">
		<h2 class="slubcolor">
			<f:translate id="impressum.title" />
		</h2>
		<section class="text">
			<p>
				Die nachstehenden Informationen enthalten die gesetzlich vorgesehenen 
				Pflichtangaben zur Anbieterkennzeichnung, sowie wichtige rechtliche
				Hinweise zur Internetpräsenz der Sächsischen Landesbibliothek - Staats- 
				und Universitätsbibliothek Dresden (SLUB).
			</p>
			<h4 class="slubcolor">
				<f:translate id="impressum.provider" />
			</h4>
			<p>
				<f:translate id="impressum.slubname" arguments="{1:'<br />'}" /> <br />
				<f:translate id="impressum.postadress" />: 01054 Dresden <br />
				<f:translate id="impressum.visitoradress" />: Zellescher Weg 18 <br /> 
				01069 Dresden
			</p>
			<p>
				<f:translate id="impressum.representedby" /> <b>Prof. Dr. Thomas Bürger</b> <br />
				<f:translate id="impressum.agency" /> <br /> Tel.: +49 351 4677-123 <br /> E-Mail: <a
					href="mailto:Generaldirektion@slub-dresden.de">Generaldirektion@slub-dresden.de</a>
			</p>
			<h4 class="slubcolor">
				<f:translate id="impressum.representative" />
			</h4>
			<ul>
				<li><f:translate id="impressum.representative.1" /></li>
				<li><f:translate id="impressum.representative.2" /></li>
				<li><f:translate id="impressum.representative.2" /></li>
			</ul>
			<h4 class="slubcolor">
				<f:translate id="impressum.editorial.team" />
			</h4>
			<p>
				Prof. Dr. Ralf Bill <br> E-Mail: <a
					href="mailto:ralf.bill@uni-rostock.de">ralf.bill(at)uni-rostock.de</a>
			</p>
			<p>
				Sebastian Meyer <br> E-Mail: <a
					href="mailto:Sebastian.Meyer@slub-dresden.de">Sebastian.Meyer(at)slub-dresden.de</a>
			</p>
			<h4 class="slubcolor">
				<f:translate id="impressum.editorial.technical" />
			</h4>
			<p>
				Jacob Mendt <br> E-Mail: <a
					href="mailto:Jacob.Mendt@slub-dresden.de">Jacob.Mendt(at)slub-dresden.de</a>
			</p>
			<p>
				Kai Walter <br> E-Mail: <a
					href="mailto:kai.walter@uni-rostock.de">kai.walter(at)uni-rostock.de</a>
			</p>
			<p>
				Thomas Jung <br> E-Mail: <a
					href="mailto:Thomas.Jung@slub-dresden.de">Thomas.Jung(at)slub-dresden.de</a>
			</p>
			<h4 class="slubcolor">
				<f:translate id="impressum.information.law" />
			</h4>
			<p>
				<f:translate id="impressum.information.law.text" />
			</p>
			<h4 class="slubcolor">
				<f:translate id="impressum.information.copyright" />
			</h4>
			<p>
				<f:translate id="impressum.information.copyright.text" />
			</p>
			<h4 class="slubcolor">
				<f:translate id="impressum.information.privacy" />
			</h4>
			<p></p>
		</section>
	</div>
</f:section>